.inputContainer {
    position: relative;
    margin-left: 60px;
}

.zipcodeInput {
    padding: 8px;
    border: none;
    width: 100%;
    background-color: lightgray;
}

.zipcodeLabel {
    color: white;
}